# CP2102 rules
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.1.1" SYMLINK+="ttyDevice1"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.1.3" SYMLINK+="ttyDevice2"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.2.1" SYMLINK+="ttyDevice3"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.2.3" SYMLINK+="ttyDevice4"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.3.1" SYMLINK+="ttyDevice5"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.3.3" SYMLINK+="ttyDevice6"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.4.1" SYMLINK+="ttyDevice7"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.4.3" SYMLINK+="ttyDevice8"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.4.4" SYMLINK+="ttyDevice9"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.4.2" SYMLINK+="ttyDevice10"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.3.4" SYMLINK+="ttyDevice11"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.3.2" SYMLINK+="ttyDevice12"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.2.4" SYMLINK+="ttyDevice13"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.2.2" SYMLINK+="ttyDevice14"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.1.4" SYMLINK+="ttyDevice15"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.1.2" SYMLINK+="ttyDevice16"

# FT232 rules
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.1.1" SYMLINK+="ttyDevice1"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.1.3" SYMLINK+="ttyDevice2"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.2.1" SYMLINK+="ttyDevice3"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.2.3" SYMLINK+="ttyDevice4"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.3.1" SYMLINK+="ttyDevice5"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.3.3" SYMLINK+="ttyDevice6"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.4.1" SYMLINK+="ttyDevice7"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.4.3" SYMLINK+="ttyDevice8"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.4.4" SYMLINK+="ttyDevice9"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.4.2" SYMLINK+="ttyDevice10"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.3.4" SYMLINK+="ttyDevice11"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.3.2" SYMLINK+="ttyDevice12"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.2.4" SYMLINK+="ttyDevice13"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.2.2" SYMLINK+="ttyDevice14"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.1.4" SYMLINK+="ttyDevice15"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001|6006|6014|FBFA", ATTRS{devpath}=="2.1.2" SYMLINK+="ttyDevice16"

# FT2232 rules
# Channel 1
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.1.1" SYMLINK+="ttyDevice1"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.1.3" SYMLINK+="ttyDevice2"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.2.1" SYMLINK+="ttyDevice3"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.2.3" SYMLINK+="ttyDevice4"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.3.1" SYMLINK+="ttyDevice5"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.3.3" SYMLINK+="ttyDevice6"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.4.1" SYMLINK+="ttyDevice7"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.4.3" SYMLINK+="ttyDevice8"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.4.4" SYMLINK+="ttyDevice9"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.4.2" SYMLINK+="ttyDevice10"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.3.4" SYMLINK+="ttyDevice11"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.3.2" SYMLINK+="ttyDevice12"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.2.4" SYMLINK+="ttyDevice13"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.2.2" SYMLINK+="ttyDevice14"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.1.4" SYMLINK+="ttyDevice15"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{devpath}=="2.1.2" SYMLINK+="ttyDevice16"
# Channel 2
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.1.1" SYMLINK+="ttyDevice1_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.1.3" SYMLINK+="ttyDevice2_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.2.1" SYMLINK+="ttyDevice3_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.2.3" SYMLINK+="ttyDevice4_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.3.1" SYMLINK+="ttyDevice5_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.3.3" SYMLINK+="ttyDevice6_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.4.1" SYMLINK+="ttyDevice7_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.4.3" SYMLINK+="ttyDevice8_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.4.4" SYMLINK+="ttyDevice9_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.4.2" SYMLINK+="ttyDevice10_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.3.4" SYMLINK+="ttyDevice11_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.3.2" SYMLINK+="ttyDevice12_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.2.4" SYMLINK+="ttyDevice13_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.2.2" SYMLINK+="ttyDevice14_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.1.4" SYMLINK+="ttyDevice15_sec"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{devpath}=="2.1.2" SYMLINK+="ttyDevice16_sec"

# CH341 rules
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.1.1" SYMLINK+="ttyDevice1"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.1.3" SYMLINK+="ttyDevice2"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.2.1" SYMLINK+="ttyDevice3"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.2.3" SYMLINK+="ttyDevice4"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.3.1" SYMLINK+="ttyDevice5"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.3.3" SYMLINK+="ttyDevice6"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.4.1" SYMLINK+="ttyDevice7"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.4.3" SYMLINK+="ttyDevice8"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.4.4" SYMLINK+="ttyDevice9"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.4.2" SYMLINK+="ttyDevice10"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.3.4" SYMLINK+="ttyDevice11"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.3.2" SYMLINK+="ttyDevice12"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.2.4" SYMLINK+="ttyDevice13"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.2.2" SYMLINK+="ttyDevice14"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.1.4" SYMLINK+="ttyDevice15"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523|5523", ATTRS{devpath}=="2.1.2" SYMLINK+="ttyDevice16"